
<nav>
  <span>
    <%= link_to 'Planes', airplanes_path %>  |  <%= link_to 'Flights', flights_path %>  |  <%= link_to 'Admin', users_path %>
  </span>
  <span class="nav-right">
   <%= link_to 'Logout', login_path, method: :delete %>
  </span>

  <h1>Editing Flight</h1>

<%= render 'form', flight: @flight %>

<%= link_to 'Show', @flight %> |
<%= link_to 'Back', flights_path %>
