<h2>Login</h2>

<% if flash[:error].present? %>
  <p><strong> <%= flash[:error] %> </strong></p>
<% end %>

<%= form_tag login_path do %>

  <%= label_tag 'Username' %>
  <%= text_field_tag :username, nil %>
  <br>

  <%= label_tag 'Password' %>
  <%= password_field_tag :password, nil %>
  <br>

  <%= submit_tag 'Login' %>

<% end %>
